.exam-main {
  display: flex;
}

.exam-item-left {
  width: 35%;
}

.exam-item-left-child-top {
  min-height: fit-content;
  padding: 20px;
}

.exma-item-left-child-bottom {
  padding: 20px;
}

.exam-item-right {
  padding: 20px;
  border: 1px solid beige;
  min-width: 65%;
}

.exma-item-left-child-bottom-top-button {
  display: flex;
  justify-content: flex-end;
}

/* custom */

.card {
  margin: 10px;
}